<section id="banner">
  <img src="..." class="img">
</section>
<section id="img">
  <div class="container text-center">
    <div class="row">
      <div class="col" style="background-color: blueviolet;">
        <div class="card" style="width: 18rem;">
            <img src="/Imagenes/Fresas1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Fresas</h5>
              <p class="card-text">La fresa es un fruto de color rojo brillante, suculento y fragante que se obtiene de la planta que recibe su mismo nombre.</p>
              <a href="#" class="btn btn-primary">Donde venden fresas</a>
            </div>
          </div>
      </div>
      <div class="col" style="background-color: coral;">
        <div class="card" style="width: 18rem;">
          <img src="/Imagenes/Chocolate.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Chocolates</h5>
            <p class="card-text">Los chocolates son el alimento que se obtiene mezclando azúcar con dos productos que derivan de la manipulación de las semillas del cacao.</p>
            <a href="#" class="btn btn-primary">Chocolates mas ricos en SLP</a>
          </div>
        </div>
      </div>
      <div class="col" style="background-color: aquamarine;">
        <div class="card" style="width: 18rem;">
          <img src="/Imagenes/sandia.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Sandias</h5>
            <p class="card-text">La sandía es un fruto grande y de forma más o menos esférica que suele consumirse cruda como postre.</p>
            <a href="#" class="btn btn-primary">Una Sandia fresca de los estercoleros</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="cartas">
  <div class="container text-center">
    <div class="row">
      <div class="col" style="width: 45; background-color: darkcyan;">
        <div class="card" style="width: 18rem;">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col" style="width: 45; background-color: deeppink;">
        <div class="card" style="width: 18rem;">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col" style="width: 45; background-color: deeppink;">
        <div class="card" style="width: 18rem;">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col" style="width: 45; background-color: darkcyan;">
        <div class="card" style="width: 18rem;">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

