<section id="banner">
  <img src="../../../../assets/Imagenes/banstrawcut.jpg" class="card-img-top" alt="...">
</section>

<section id="img" style="margin-top: 3%; background-color: wheat;">
  <div class="container text-center">
    <div class="row">
      <div class="col" style="background-color: wheat; ">
        <div class="card" style="width: 18rem; background-color: violet;">
            <img src="../../../../assets/Imagenes/Fresas1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Fresas</h5>
              <p class="card-text">La fresa es un fruto de color rojo brillante, suculento y fragante que se obtiene de la planta que recibe su mismo nombre.</p>
              <a href="#" class="btn btn-danger">Donde venden fresas</a>
            </div>
          </div>
      </div>
      <div class="col" style="background-color: wheat;">
        <div class="card" style="width: 18rem; background-color: burlywood;">
          <img src="../../../../assets/Imagenes/Chocolate.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Chocolates</h5>
            <p class="card-text">Los chocolates son el alimento que se obtiene mezclando azúcar con dos productos que derivan de la manipulación de las semillas del cacao.</p>
            <a href="#" class="btn btn-danger">Chocolates mas ricos en SLP</a>
          </div>
        </div>
      </div>
      <div class="col" style="background-color: wheat;">
        <div class="card" style="width: 18rem; background-color: aquamarine;">
          <img src="../../../../assets/Imagenes/sandia.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Sandias</h5>
            <p class="card-text">La sandía es un fruto grande y de forma más o menos esférica que suele consumirse cruda como postre.</p>
            <a href="#" class="btn btn-danger">Una Sandia fresca de los estercoleros</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="cartas" style="background-color: olivedrab;">
  <div class="container text-center">
    <div class="row" style="padding-bottom: 3%; padding-top: 3%;">
      <div  style="width: 30%; background-color: olivedrab;">
        <div class="card" style="width:30 18rem; background-color: olivedrab;">
          <img src="../../../../assets/Imagenes/postre3.jpg" class="card-img-top" alt="..." style="padding: 2%; height: 200px">
        </div>
      </div>
      <div class="col" style="width: 30%; background-color: olivedrab">
        <div class="card" style="width:70% 18rem; background-color: olivedrab; margin-top: 3%;">
          <h5 class="card-title">Receta para una gelatina</h5>
          <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium nesciunt neque odio repellendus cumque pariatur aspernatur ad repudiandae harum expedita porro alias aut, nobis dolore sunt? Molestias temporibus consectetur esse?</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col" style="width: 30%; background-color: olivedrab">
        <div class="card" style="width:70% 18rem; background-color: olivedrab; margin-top: 4%;">
          <h5 class="card-title">Receta para hacer un pay</h5>
          <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium nesciunt neque odio repellendus cumque pariatur aspernatur ad repudiandae harum expedita porro alias aut, nobis dolore sunt? Molestias temporibus consectetur esse?</p>
        </div>
      </div>
            <div  style="width: 30%; background-color: olivedrab;">
        <div class="card" style="width:30 18rem; background-color: olivedrab;">
          <img src="../../../../assets/Imagenes/postre2.jpg" class="card-img-top" alt="..." style="padding: 2%; height: 200px">
        </div>
      </div>
    </div>
  </div>
</section>

