<section id="img" style="margin-top: 1%; background-color: wheat;">
    <div class="container text-center">
      <div class="row">
        <div class="col" style="background-color: wheat; margin: 3%; ">
          <div class="card" style="width: 18rem; background-color: wheat; margin: 5%;">
              <img src="../../../../assets/Imagenes/mapastarb.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Mapa Starbucks</h5>
                <p class="card-text">Se muestran las sucursales de Starbucks en San Luis Potosí. Estas sucursales no solo sirven cafe, sino que ofrecen alimentos y postres</p>
              </div>
            </div>
        </div>
        <div class="col" style="background-color: wheat; margin: 3%;">
            <div class="card" style="width: 18rem; background-color: wheat; margin: 5%;">
                <img src="../../../../assets/Imagenes/mapastel.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Mapa Pastelerias</h5>
                  <p class="card-text">Se muestran las pastelerias en San Luis Potosí. La busqueda puede basarse en pastelerias saludables</p>
                </div>
              </div>
        </div>
        <div class="col" style="background-color: wheat; margin: 3%;">
          <div class="card" style="width: 18rem; background-color: wheat; margin: 5%;">
            <img src="../../../../assets/Imagenes/mapasfrut.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Mapa Fruterias</h5>
                <p class="card-text">Se muestran lugares donde se obtienen insumos para las pastelerias saludables en San Luis Potosí. </p>
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  